<div ng-controller="loginCtrl" class="row">
    <div class="col-md-6 col-md-offset-3 login-box">
        <div class="well well-lg">
            <form class="form-horizontal login-form" role="form" novalidate>
                <div class="form-group">
                    <label for="userName" class="col-md-3 control-label">User Name</label>
                    <div class="col-md-7">
                        <input type="text" ng-model="Login.UserName" class="form-control" id="userName" placeholder="Enter User Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Password</label>
                    <div class="col-md-7">
                        <input type="password" ng-model="Login.Password" class="form-control" id="password" placeholder="Enter Password" required>
                        <div ng-show="form.password.$dirty && form.password.$invalid">
                            <span ng-show="form.password.$error.required"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-7">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="Login.RememberMe"> Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-7">
                        <button ng-click="update(Login)" ng-disabled="isDirty(Login)" class=" btn btn-default">Sign in</button>
                        <button ng-click="cancel()" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>